<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior name="WebBehavior">
            <webHttp />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <client>
        <endpoint name="employeeService"
                   address="http://127.0.0.1:3721/employees"
                   behaviorConfiguration="WebBehavior"
                   binding="webHttpBinding"
                   contract="Wcf.Rest.Service.IEmployees"/>
      </client>
    </system.serviceModel>
</configuration>