<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior" name="Wcf.Operation.OverLoad.Service.WCFService">
                <endpoint address="http://localhost:9001/WCFService" binding="basicHttpBinding"
                    bindingConfiguration="" contract="Wcf.Operation.OverLoad.Service.IWCFOverLoadingService" />
                <endpoint address="net.tcp://localhost:9002/WCFService" binding="netTcpBinding"
                    bindingConfiguration="" contract="Wcf.Operation.OverLoad.Service.IWCFOverLoadingService" />
                <endpoint address="net.pipe://localhost/WCFService" binding="netNamedPipeBinding"
                    bindingConfiguration="" contract="Wcf.Operation.OverLoad.Service.IWCFOverLoadingService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
                <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:9001" />
                        <add baseAddress="net.tcp://localhost:9002" />
                        <add baseAddress="net.pipe://localhost" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>