<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                    <serviceThrottling maxConcurrentCalls="100" maxConcurrentInstances="100" maxConcurrentSessions="100"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <!--配置具体协议的流传输模式transferMode，以及消息长度maxReceivedMessageSize-->
        <bindings>
          <basicHttpBinding>
            <binding name="basicHttpBindingConfiguration" receiveTimeout="10:10:10" transferMode="Streamed" maxReceivedMessageSize="200000"/>
          </basicHttpBinding>
          <netTcpBinding>
            <binding name="netTcpBindingConfiguration" receiveTimeout="10:10:10" transferMode="Streamed" maxReceivedMessageSize="200000"/>
          </netTcpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="NewBehavior" name="Wcf.Streaming.Service.WCFService">
                <endpoint address="http://localhost:8002/WCFService" binding="basicHttpBinding"
                    contract="Wcf.Streaming.Service.IWCFService" bindingConfiguration="basicHttpBindingConfiguration">
                </endpoint>
                <endpoint address="net.tcp://localhost:8004/WCFService" binding="netTcpBinding"
                    bindingConfiguration="netTcpBindingConfiguration" contract="Wcf.Streaming.Service.IWCFService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
                <host>
                  <baseAddresses>
                    <add baseAddress="http://localhost:8001"/>
                    <add baseAddress="net.tcp://localhost:8003"/>
                  </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>