<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMyService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMyService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8001/MyService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IMyService" contract="MyServiceReference.IMyService"
                name="WSHttpBinding_IMyService">
                <identity>
                    <userPrincipalName value="STARTCAFT\Administrator" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8002/MyService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMyService" contract="MyServiceReference.IMyService"
                name="NetTcpBinding_IMyService">
                <identity>
                    <userPrincipalName value="STARTCAFT\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>